.item{
padding: 3rem;
background: teal;
color: #fff;
text-align: center;
border: 1px solid rgb(252, 242, 112);
font: 24px bold;
}
 .grid{
  display: grid;
  /* grid-template-columns: 200px auto 200px ; */
  /* grid-template-columns: auto auto auto; */
  /* grid-template-columns: repeat(3, 200px); */
  /* grid-template-columns: repeat(3, auto); */
   grid-template-columns: 1fr 2fr 2fr; 
 
  grid-gap: 1rem;
} 
main{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1.5rem;
}
.grid2{
display: grid;
grid-template-rows: 1fr 2fr 3fr;
grid-auto-rows: 3fr;
}
.grid3{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr 2fr 3fr;
grid-auto-rows: 3fr;
  
}