.item{
padding: 3rem;
background: teal;
color: #fff;
text-align: center;
border: 1px solid rgb(252, 242, 112);
font: 24px bold;
}
.grid{
  display: grid;
  grid-template-columns: 200px 200px 200px ;
}