.item{
  padding: 3rem;
  background: teal;
  color: #fff;
  text-align: center;
  border: 1px solid rgb(252, 175, 112);
  font: 24px bold;
  }
.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.item:first-child{
  /* grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end:3; */
  grid-column: 1/ span 3;
  grid-row: 1/ span 2;
}