@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap');
:root{
  --page-1-color: rgb(145, 195, 238)url('./img/cat1.jpeg') no-repeat center center/cover;
  --page-2-color: rgb(111, 148, 108) url('./img/cat2.jpeg') no-repeat center center/cover;
  --page-3-color: rgb(221, 230, 109)url('./img/cat3.jpeg') no-repeat center center/cover;
  --page-4-color: rgb(73, 70, 62)url('./img/cat4.jpeg') no-repeat center center/cover;
  --animate-speed:2s;
  
--primary-color:rgba(13,110,139,0.75);
--secondary-color:rgba(250, 148, 0, 0.9);
--overlay-color:rgba(24, 39, 51, 0.87);
--menu-speed:0.75s;

}
body{
  font-family: 'MuseoModerno', cursive;
  line-height: 1.4;
  color: white;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
/* Page colors*/
#page-1{background:var(--page-1-color) }
#page-2{background:var(--page-2-color);}
#page-3{background:var(--page-3-color);}
#page-4{background:var(--page-4-color);}

.page{
  display: flex;
  flex-direction: column;
  height:100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 4rem;


}
.page h1 {
  font-size: 3rem;
  line-height: 4rem;
  margin: 1rem;
}
.page p {
  font-size: 1.3rem;
}
.btn {
  display: block;
  padding: 1rem 2rem;
  background-color: rgb(243, 250, 250);
  text-decoration: none;
  border:none;
  border-radius: 5px;
  margin-top: 1rem;
  font-size: 1.1rem;
  transition:all 0.3s ease-in-out;

}
.btn:hover,
.btn-dark{
background-color: rgb(62, 62, 92);
color: darkcyan;
}
.btn-dark:hover {
  background-color: darkcyan;
  color: rgb(62, 62, 92);
}
/*Page animation*/
#page-1 h1{
  transform: translateY(-1200px);
  animation: heading var(--animate-speed) forwards ease-in;
}
#page-1 p{
  transform: translateX(-1800px);
  animation: para var(--animate-speed) forwards ease-in 1s;
}
/*animations*/
@keyframes heading {
  to
  {
    transform: translateY(0);
  }
  
}
@keyframes para {
to 
  {
    transform: translateX(0);
  }

}
