@import url('https://fonts.googleapis.com/css?family=Anton|Dosis&display=swap');
/* font-family: 'Dosis', sans-serif;
font-family: 'Anton', sans-serif; */

html {
  height: 100%;
  font-family: 'Dosis', sans-serif;
}

body {
  font-size: 18px;
  line-height: 2em;
  background: #e5e5e5 url(./css.jpeg)no-repeat 0 top;
  background-size: cover;
  color: #222;
}

article {
  padding: 30px 30px 0px 35%;
  width: 60%;
}

h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 800px;
}

h1 {
  margin: .5em 0 1em 0;
  font-size: 1.4em;
}

ul {
  margin: 0 0 1em 0;
}

ul {
  margin: 0 0 1.2em 0;
  list-style: none;
  padding-left: 0px;
}
li{margin:0 0 1.2em 0;}

a {
  color: wheat;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  display: inline-block;
  /* background-color: rgb(224, 204, 204) ; */
  padding:  3px 15px ;
  border-radius: 5px;
  border:1px solid rgba(255, 255, 255,.8)
}

a:visited {
  color: rgb(224, 158, 158);
  background-color: brown;
  border: #fff;
 
}

a:hover {
  text-decoration: underline;
}
a.barriLink{
  color: rgb(223, 223, 223);
  border: none;

}
@media (max-width: 480px) {
  body {
      background:#231a13 url(./css.jpeg) no-repeat ;
      width: 90%;
   
  }
}