#navbar img {
float: none;
display: block;
margin: 10px auto;
}

#navbar ul , #navbar ul li{
  float: none;
}
#navbar ul li a {
  padding: 5px;
  border-bottom: 1px dotted rgb(173, 250, 237);
}
/*showcase*/
#showcase {
  height: 100%;
}
#showcase .showcase-content {

  padding-top: 70px;
  padding-bottom: 30px;
}
/*home info*/
#home-info{
  height:450px;
}
#home-info .info-img{
    display: none;
}
#home-info .info-content {
  float: none;
  width: 100%;

}
/*features*/

.box {
  float: none;
  width: 100%;

  text-align: center;
}
#box-1, #box-2, #box-3 {
  height: 300px;
  }
  /*About*/
  #about-info .info-right,  #about-info .info-left {
    float: none;
    width: 100%;
  
  }
  .l-heading {
    text-align: center;
  }
  #about-info .info-right {
    margin-top: 30px;
  }
  .testimonial p {
    text-align: center;
  }
  h4{
    margin-top: 20px;
    text-align: center;
  }
  /* Contact*/

  #contact-info .box {
    border-bottom: 1px dotted rgb(108, 149, 155);
  }