/* Reset default*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@600&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Main style*/
body{
font-family: 'Lato', sans-serif;

}
a {
  color: rgb(47, 192, 192);
  text-decoration: none ;
}
h1, h2, h3 {
  padding-bottom: 20px;
}
p{
  margin: 10px 0;
}
/* Utilities*/
.container {
  max-width: 1200px;
  margin: 0 auto;
overflow: auto;
padding:0 20px;
}
.text-primary {
  color: rgb(47, 192, 192);
  
}
.lead {
  font-size: 24px;
  text-shadow: 2px 2px  black;
}
.btn{
  display: inline-block;
  font-size: 18px;
  color: #fff;
  padding: 15px 20px;
  background-color:  rgb(47, 192, 192);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  
}
.btn:hover{
  background: rgb(178, 243, 243);
  color: rgb(231, 255, 124);
}
.btn-dark {
  background-color:  rgb(2, 133, 133);
  color: rgb(247, 247, 247);
}
.bg-light{
  background: rgb(205, 221, 221);
  color: rgb(97, 95, 95);
}
.bg-light2{
   background: rgb(231, 255, 124);
  color: rgb(47, 192,192);

}
.bg-primary{
  background: rgb(47, 192, 192);
  color: rgb(231, 255, 124);

}
.l-heading {
  font-size: 30px;
}
.clr {
  clear: both;
}
/*Padding classes*/
.py-1{ padding: 10px 0;}
.py-2{ padding: 20px 0;}
.py-3{ padding: 30px 0;}



/* Navbar style*/
#navbar{
  background-color: rgb(27, 240, 229);
  color: #fff;
  overflow: auto;

}
#navbar a{
  color: #fff;

}
#navbar img {
  width: 150px;
  margin-left: 20px;
  margin-top: 2px;
  padding: 3px;
  background-color: #fff;
  float: left;
  border-radius: 15px;
}
#navbar ul {
  margin-top: 0px;
  list-style: none;
  float:right;
}
#navbar ul li{
  float: left;
  }
#navbar ul li a{
 display: block;
 padding: 20px;
 text-align: center;
 font-weight: 600;
 font-size: 18px;
 cursor: pointer;
}
#navbar ul li a:hover,
#navbar ul li a.current
{
  background: rgb(178, 243, 243);
  color: rgb(231, 255, 124);
}
/* Showcase*/
#showcase{
  background: url('../img/mainimg.png') no-repeat center center/cover ;
  height: 600px;
}

#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}
.showcase-content h1{
  font-size: 60px;
  line-height: 1.2em;
}
.showcase-content p{
  padding-bottom: 20px;
  line-height: 1.7em;

}/* home */
#home-info{
  height: 400px;
}
#home-info .info-img{
  float:left;
  width: 50%;
 background: url('../img/home.png') no-repeat;
 min-height: 100%;
}
#home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
 text-align: center;
 padding: 50px 30px;
 overflow: hidden;
}
#home-info .info-content p {
  padding-bottom: 30px;
}
/*Features*/

.box{
  float: left;
  width:33.3%;
  height: 300px;
  padding: 50px;
  text-align: center;
}
.box i {
  margin-bottom: 10px;
}
/*About page*/
#about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}
#about-info .info-right img{
  width: 80%;
  display: block;
  margin:auto;
  border-radius: 50%;
}
#about-info .info-left{
float: left;
width: 50%;
min-height: 100%;
}

/* Testimonials*/
#testimonials {
  height: 600px;
  background: url('../img/testimonial.png') no-repeat center center/cover;
  padding-top: 40px;
}
#testimonials .testimonial img {
  float: left;
  width: 60px;
  height: 70px;
  margin-right: 20px;
  border-radius: 50%;
  margin-top: -10px;

}
#testimonials h2 {
   color: #fff;
   text-align: center;
   padding-bottom: 40px;
}

#testimonials .testimonial {
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 10px;
  opacity: 0.9;
}
/*Footer*/
#main-footer {
  text-align:center;
  color: #fff;
  background: rgb(82, 122, 122);
  height: 50px;
  margin-top: -10px;
  
}
#main-footer p{
padding-top: 10px ;

}

