
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* height: 100vh; */
}
body{
  font-family: 'Lato', sans-serif;
  line-height: 1.4;

}
a {
  text-decoration: none;
}
p {
  margin: 0.75rem 0;
}
/*Helpers*/
.container{
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}
.text-center{
  text-align: center;
}
.text-primary {
  color: #c083e9;
}
.bg-light{
  background: #f4f4f4;
  color: #333;
}
.bg-dark{
  background: rgb(7, 6, 6);
  color: white;
}
.bg-primary{
  background:#c083e9;
  color: aliceblue;
}
.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}
.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}
.lead{
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.py-1{  padding: 1.5rem 0;}
.py-2{  padding: 2rem 0;}
.py-3{  padding: 3rem 0;}

.p-1{  padding: 1.5rem ;}
.p-2{  padding: 2rem ;}
.p-3{  padding: 3rem ;}

.list {
  margin: 0.5rem 0;
  list-style: none;
}
.list li {
  padding: 0.5rem 0;
  border-bottom: rgb(231, 170, 243) dotted 1px;
}
.btn {
  display: inline-block;
  color: #fff;
  background:#c083e9;
  padding: 15px;
  border: none;
  border-radius: 5px;

}
.btn:hover{
  background: #c7a4df;
}
.btn-dark {
  background: #41314d;
  color: white;
}

/*Navbar*/
#navbar {
  
  position: sticky;
  top: 0;
  background: #050505 ;
  color: white;

  display: flex;
  justify-content: space-between ;

  z-index: 1;
  padding: 1rem;
}
#navbar ul{
display: flex;
align-items: center;
list-style: none;

}
#navbar ul li a {
  color: white;
  padding: 0.75rem;
  margin: 0 0.25rem;
}
#navbar ul li a:hover{
  background:  #c083e9;
  border-radius: 5px;
}

/*Showcase */
#showcase {
  background: #333 url('../img/cover.jpg') no-repeat center center/cover;
  height: 100vh;
  color: white;

  /*for overlay*/
  position: relative;
  /* background-color: rgba(255,255,255,0.2); */
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
 
  height: 100%;
  align-items: center;

  padding: 0 2rem;

  /* Overlay --very light grey*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.2);

}
/*Offers*/
.items{
  display: flex;
  padding: 1rem;
}
#what .items .item {
  flex:1;
  text-align: center;
  padding: 0.5rem;
}
#what .items .item i {
  background: #c083e9;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
/*first icon is a bit narrower than others*/
#what .items .item:first-child i {
  background: #c083e9;
  padding: 1.1rem 1.2rem 1.1rem 1.2rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/*Trainers*/

#who {
  display: flex;
}
#who div {
  flex: 1;
  flex-basis: 50%;
}
#who .who-img {
  background: url(../img/left.jpg) no-repeat center center/cover;
}
/*Client*/
#clients .items{
  display: flex;
 
}
#clients .items img{
  display: block;
  margin: auto;
  width: 60%;

}
#contact{
  display: flex;
}
#contact .map, #contact .contact-form{
  flex: 1;
}
#contact .contact-form .form-group {
  margin:  0.75rem;
}
#contact .contact-form label {
display: block;
}
#contact .contact-form input,  
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
} 
#contact .map, #contact .contact-form {
  flex: 1;
  flex-basis: 50%;
}
#contact .map {
  background: url('../img/google-map.jpg') no-repeat center center/cover;
}