@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
html{
  height: 100%;
}

body{
  margin: 0;
  padding:10px 25px 25px 25px;
  font-size: 16px;
  color: rgb(58, 58, 58);
  font-family: 'Open Sans', sans-serif;
  background: url(./argentinT.jpg) no-repeat center bottom; 
  background-size: cover;
}
p { margin: 0 0 1em 0;}

h1{
  margin: 0 0 .4em 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  color: rgb(143, 132, 98);
  text-transform: uppercase;
}
h2{
  margin: 0 0 .9em 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  font-style: italic;
  color: rgb(143, 132, 98);
}
article{

  margin: 20px auto 0 auto;
  border-radius: 8px;
  padding: 15px 260px 25px 25px;
  background-color: rgba(255,255,255,.65);
 position: relative;
}
aside{
  width: 150px;
  padding: 15px 10px 20px 45px;
  background-color: rgb(143, 132, 98);
  color: aliceblue;
  border-radius: 10px;
  position: absolute;
  top:65px; right:25px;
}

aside img{
position: absolute; top:-30px; left:-40px;

}
aside h3{

  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.2em;
  margin: 0 0 10px 0;
  position: relative;
}
aside p{
  font-size: .9em;
  line-height: 1.3em;
}
aside p em {
  color:rgb(255, 255, 255, .5)
}
/* button style */
aside a{
  display: inline-block;
  background-color: #6ecff6;
  color:rgb(143, 132, 98);
  border: 2px solid rgb(143, 132, 98);
  text-decoration: none;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 7px;
  padding: 4px 20px;
  position: absolute;
  bottom: -4px; right: -4px;

}
aside a::after {
  content: '\00BB'; padding-left: 7px;
}

aside a.btn:hover {
  color: #6ecff6;
  background-color: darkblue ;
}
blockquote{
  width: 75%;
  margin: 50px auto 80px auto;
  color: rgb(94, 83, 50);
  font-size: 1.3em;
  position: relative;
}
blockquote::before{
  content: '\201c';
  font-size: 4em;
  position: absolute;
  left: -30px;
  top:-50px;
  color: rgba(245, 240, 180, 0.568);
}
blockquote::after{
  content: '\201d';
  font-size: 4em;
  position: absolute;
  /* right: -30px; */
  bottom:-60px;
  color: rgba(245, 240, 180, 0.568);
}
blockquote cite{
  color: rgba(146, 143, 108, 1);
  display: block;
  font-size: .7em;
position: absolute;
  bottom: -2.5em;
}
blockquote cite::before{
  content: '\2014';
  padding-right: 5px;
}

@media screen and (max-width:540px){
  article{ padding-right: 25px;}
  aside { position: relative; top: auto; right:auto;}
  aside a { position: static;}
  body{
    margin: 0;
    padding:10px 25px 25px 25px;
    font-size: 16px;
    color: rgb(58, 58, 58);
    font-family: 'Open Sans', sans-serif;
    background: url(./argentinT.jpg) no-repeat center bottom; 
    background-size: contain;
  }

}